<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>GASTRO WEBSITE</title>
        <link rel="stylesheet" href="~/style.css" />
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>