@model ReferenceViewModel

<div>
    <div>
        <h1>Reservation Complete :)</h1>
        <p>See you there at @Model.RestaurantName (@Model.ReservationDate)</p>
        <p>Reference Code @Model.ReferenceId</p>
        <a href="/">Done</a>
    </div>
</div>